<!-- Home page -->

<%- include("partials/header"); -%>
  
    <h1>Home</h1>
    
    <p> <%= startingContent %> </p>
    <%posts.forEach(function(post){ %>
      <h1><%=post.title%></h1>
      <p>
        <%=post.content.substring(0, 100) + " ..."%>    //Hide the full blog. only showes first 100 words
        <a href="/posts/<%=post._id%>">Read More</a>
      </p>
    
    <% }); %>
<%- include("partials/footer") -%>
